{% extends 'base.html.twig' %}

{% block body %}

<div class="container wow fadeInRight">
	<div id= "textboxinner">
	<p class="free1">The Window</p>
	<h3 class="header3">EXPERTS</h3>
	</div>
	</div>

    <div class="windowselection">
        <h2 class="infopage  wow fadeInLeft">{{ render(controller('RvSearsBundle:Default:loadTitle', {'pageId':'windowsselection'} )) }}</h2>
    </div>

<div class="plainbackwindow">	
<div class="container wow fadeIn">
	<div class="row row2">
		<div class="col-xs-12 col-sm-8 col-md-7 col-lg-6 main3">				
 			{{ render(controller('RvSearsBundle:Default:loadContent', {'pageId':'windowsselection'} )) }}
   		</div>
		<div class="col-xs-12 col-sm-8 col-md-7 col-lg-6 main3">
			{{ render(controller('RvSearsBundle:Default:loadSecondaryContent', {'pageId':'windowsselection'} )) }}
		</div>
     </div>
	</div>
      </div>

<div class="newsectionwindow">	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
				<div class="whitebox">
				<div class="bene">{{ render(controller('RvSearsBundle:Default:loadThirdContent', {'pageId':'windowsselection'} )) }}</div>
			</div>
	</div>
</div>
</div>
<div class="callnowsection wow fadeIn">
			<h3 class="callfirst"><img src={{ asset("img/phoneicon.png") }}>Call 1-877-275-4193 today</h3>
			<h3 class="callsecond">and let our Sears design consultants help you.</h3>
</div>



<div class="row testimonials">
    <div class="col-md-6 testimonials-left">
        <p>I absolutely love my new windows! They are energy efficient and beautiful! Your sales and installation men are excellent! They have made my home much more comfortable, enjoyable and attractive. I really appreciate the Sears products and service.<br>
        <br>-A Sears satisfied and happy customer, Columbia, SC</p>
    </div>
    <div class="col-md-6">
        <p>I had replacement windows done by Sears, and could not be more pleased. I’ve already seen an improvement in my gas bill, and I’m sure I’ll see a big improvement in my electric bill this summer. <br>
        <br>-A Sears satisfied and happy customer, Dallas, TX</p>
    </div>
</div>
{% endblock %}